* {
    font-family: 'Source Code Pro', monospace;
    font-variant: small-caps;
    background-color: black;
    color: lime;
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {

}

