* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    font-variant: small-caps;
    color: lime;
    border: 5px dotted rgb(115, 5, 255);
    background-color: black;
    padding: 0;
    margin: 0;
}

html {
    border-style: none;
}

body {
    min-height: 100%;
    border-style: none;
}

#web-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 100px auto auto;
    gap: 0;
    border-style: none;
    
}

#floating-nav-container {
    position: fixed;
    min-height: 100px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}


#content-container {
    min-height: 800px;
    grid-row-start: 2;
    grid-row-end: 3;
}

#footer-container {
    min-height: 200px;
    grid-row-start: 3;
    grid-row-end: 4;
}
